/**** Importation de la police Host Grotesk ****/

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}

ul {
    list-style-type: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    transition: opacity 0.3s ease-out;
}

header ul li:hover a,
footer ul li:hover a {
    opacity: 0.7;
}

a,
li {
    font-size: 18px;
}

.main__content {
    flex-grow: 1;
}

.home {
    background: url(https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 700px;
}

.awards article,
.projects article,
.pricing article {
    transition: transform 0.3s ease-out;
}

.awards article:hover,
.projects article:hover,
.pricing article:hover {
    transform: scale(1.02);
}

.awards article:hover {
    opacity: 0.9;
}

.parallax {
    background: url(img/parallax.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
}